/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    text-align: left;
    direction: ltr;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, input, optgroup, select, textarea {
    color: #333;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

div {
    display: block;
}

body {
    height: 100%;
    color: #333;
    font-size: 13px;
    overflow-y: auto;
    overflow-x: auto;
    margin: 0;
}

html {
    height: 100%;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.4;
}

input[type=text], input[type=email], input[type=password], input[type=number] {
    padding: 3px 5px;
    height: 15px;
    width: 150px;
}

input[type=text], input[type=email], input[type=number], input[type=password], textarea, .fake_editor, .qtext_editor_content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 27px;
    background: #fff;
    outline: 0;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(200, 200, 200, 0.3);
    -webkit-transition: border-color .2s;
    transition: border-color .2s;
    -webkit-transition: border-color .2s 180ms ease-in-out 0s;
    -o-transition: border-color .2s 180ms ease-in-out 0s;
    transition: border-color .2s 180ms ease-in-out 0s;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

button, input, optgroup, select, textarea {
    color: #333;
}

/*
Session Form
*/

.loggedOutPage .contentWrapper {
    padding: 0;
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%
}


.loggedOutPage .contentWrapper .bgContainer{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    overflow: hidden;
}


.loggedOutPage .contentWrapper .bgImage {
    background: url(https://w.wallhaven.cc/full/nz/wallhaven-nz9r5j.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
}

.loggedOutPage .bgContainer{
    z-index: -1;
}

.loggedOutPage .contentWrapper .baseSignUpContainer {
    background: #fff;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 5px #888;
    border-radius: 4px;
    padding-top: 25px;
    width: 650px;
    position: absolute;
    bottom: initial;
    left: 0;
    right: 0;
    margin: auto;
    overflow-y: hidden;
    top: 10%
}

.loggedOutPage .contentWrapper .baseSignUpContainer .projectLogo {
    margin: auto;
}

.loggedOutPage .contentWrapper .baseSignUpContainer .tagline {
    font-size: 19px;
    font-weight: 400;
    font-family: Georgia, Times, "Times New Roman", "Hiragino Kaku Gothic Pro", "Meiryo", serif;
    margin: 8px 0 32px;
    color: #949494;
    text-align: center;
}

.loggedOutPage .contentWrapper .baseSignUpContainer .formContainer{
    margin-top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.loggedOutPage .contentWrapper .baseSignUpContainer .formContainer .innerContentFormContainer{
    padding: 32px;
}

.loggedOutPage .contentWrapper .baseSignUpContainer .formContainer .signUpLogin {
    position: relative;
    *zoom: 1;
}

.loggedOutPage .contentWrapper .baseSignUpContainer .formContainer .signUpLogin:after, 
.loggedOutPage .contentWrapper .baseSignUpContainer .formContainer .signUpLogin:before {
    display: table;
    content: "";
    zoom: 1;
}

.loggedOutPage .contentWrapper .baseSignUpContainer .formContainer .signUpLogin:after {
    clear: both;
}


.loggedOutPage .contentWrapper .baseSignUpContainer .formContainer .signup,
.loggedOutPage .contentWrapper .baseSignUpContainer .formContainer .login {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%
}

.loggedOutPage .contentWrapper .baseSignUpContainer .formContainer .signup {
    padding-right: 32px;
}

.loggedOutPage .contentWrapper .baseSignUpContainer .formContainer .signup:after {
    content: "";
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #e6e6e6;
    left: 50%;
}

.loggedOutPage .contentWrapper .baseSignUpContainer .signup, .stackedForm {
    margin-top: 8px;
}

.loggedOutPage .contentWrapper .baseSignUpContainer .signup .stackedForm label{
    line-height: 27px;
}

.loggedOutPage .contentWrapper .baseSignUpContainer .signup .stackedForm .text {
    /* Changed to space out form inputs */
    float: right;
}

.firstLastNameGroup {
    *zoom: 1;
}

.firstLastNameGroup:before, 
.firstLastNameGroup:after {
    display: table;
    content: "";
    zoom: 1;
}

.firstLastNameGroup:after {
    clear: both;
}

.firstLastNameGroup .formRow .half {
    width: 49%;
    float: left;
}

.emailSignupForm .firstLastNameGroup .formRow:last-child {
    /* padding-left: 4px; */
}

.formRow{
    *zoom: 1;
    padding: 0 0 8px;
}

.formRow:before, .formRow:after {
    display: table;
    content: "";
    zoom: 1;
}



.firstLastNameGroup .formRow .half .lastName{
   
}



.emailSignupForm .formRow label {
    font-size: 11px;
    color: #666;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
}

.emailSignupForm .formRow input {
    display: block;
    width: 100%;
    background-color: #fafafa;
}

.submitButton {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: opacity ease-in-out 100ms, color ease-in-out 100ms, background-color ease-in-out 100ms, border-color ease-in-out 100ms;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.2);
    display: inline-block;
    font-weight: 500;
    outline: 0;
    padding: 3px 7px 4px 7px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: #3e78ad;
    color: #fff;
    border: 1px solid #3a66ad;
    box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.6);
}

.submitButton:active{
    opacity: .6;
    box-shadow: none;
}

.submitButton:hover {
    text-decoration: none;
}

.formButtons {
    margin-top: 16px;
    text-align: right;
    font-size: 13px;
}

.formButtons a,
.formButtons input[type='submit'],
.formButtons .submitButton {
    line-height: 27px;
    margin-left: 8px;
}

.formButtons .submitButton {
    line-height: 1.4em!important;
}



.loggedOutPage .contentWrapper .baseSignUpContainer .formContainer .login {
    position: relative;
    padding-left: 32px;
}

.loggedOutPage .contentWrapper .baseSignUpContainer .formContainer .login .regularLogin .headerLoginTextBox {
    width: 100%;
    font-size: 15px;
    line-height: 1.4;
    padding-left: 8px;
    padding-right: 8px;
    min-height: 32px;
    margin-bottom: 8px;
}

.loggedOutPage .contentWrapper .baseSignUpContainer .formContainer .login .regularLogin input[type=password],
.loggedOutPage .contentWrapper .baseSignUpContainer .formContainer .login .regularLogin input[type=text]{
    background-color: #EEE;
}

.loggedOutPage .contentWrapper .baseSignUpContainer .formContainer .login .regularLogin input[type=text]{
    margin-top: 16px;
}

.loggedOutPage .contentWrapper .baseSignUpContainer .formContainer .login .regularLogin .submitButton{
    float: right;
    font-size: 15px;
    line-height: 1.4;
}

.loggedOutPage .contentWrapper .baseSignUpContainer .formContainer .login .inLineLogin {
    *zoom: 1;
}

.loggedOutPage .contentWrapper .baseSignUpContainer .formContainer .login .inLineLogin:before,
.loggedOutPage .contentWrapper .baseSignUpContainer .formContainer .login .inLineLogin:after {
    display: table;
    content: "";
    zoom: 1;
}

.loggedOutPage .contentWrapper .baseSignUpContainer .formContainer .login .inLineLogin:after {
    clear: both;
}



.formColumn {
    *zoom: 1;
}

.formColumn:before,
.formColumn:after {
    display: table;
    content: "";
    zoom: 1;
}

.formColumn:after {
    clear: both;
}

.projectLogo {
    width: 224px;
    min-width: 224px;
    height: 140px;
    background-size: 224px 63px;
    background-image: url(https://raw.githubusercontent.com/VladRez/muses/master/app/assets/images/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 82px;
    position: relative;
}


/*
QUESTION FEED
*/

.feed {
    background: #fafafa;
    width: 1002px;
    margin: 0 auto;
    padding-top: 83px;
    *zoom: 1;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    
}

.feed::before,
.feed::after {
    display: table;
    content: "";
    zoom: 1
}

.card {
    background: #fff;
    margin: 25px auto;
    width: 450px;
    padding: 15px;
    height: auto;
    text-align: center;
    /* border-radius */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}